<ion-view view-title="Productos">  
    <ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img ng-show="item.image_small" src="data:image/jpg;base64,{{ item.image_small}}" />
    <h2>{{ item.name }}</h2>
    <p>({{ item.default_code }}) </p>
  </div>


  <div ng-show="item.description" class="item item-body">
    <p >
      {{ item.description }}
    </p>
  </div>
  <div class="item ">
  <button ng-click="add(item.id,item.name,qty,item.price_with_tax)" class="button button-assertive ion-android-cart">Agregar {{ qty }} </button> <button ng-click="plus()" class="button ion-plus-circled"></button> <button ng-click="minus()" class="button ion-minus-circled" ng-show="qty > 1"></button> 
  </div>
  <div class="item ">
      Principal: {{ item.prices['2'] * 1.21  | currency  }}  </div>
  <div class="item ">
      Contado: {{ item.prices['3'] * 1.21 | currency }}
  </div>
  <div class="item ">
      12 y 18 cuotas: {{ item.prices['31'] * 1.21 | currency }}
  </div>
  <div class="item item-divider">
    Disponible
  </div>

  <div ng-repeat="itemStock in item.stocks" class="item">
     {{ warehouses[itemStock.warehouse_id] }} : {{ itemStock.virtual_available }} 
  </div>
  <div class="item ">
  </div>
  
</div>





    </ion-content>
</ion-view>
  <div class="bar bar-footer">
    <a href="#/" class="button button-assertive button-block ion-ios-arrow-back"> Volver al buscador </a>

  </div>
