<ion-view view-title="Productos">
  
    <ion-content class="padding">
<form (ngSubmit)="search()">

<div class="list">
 <label class="item item-input">
      <input type="text" ng-model="$parent.textSearch" placeholder="Nombre o codigo producto" >

  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Lista
    </div>
        <select ng-options="item as item.label for item in $parent.priceLists " ng-model="$parent.selectedList" ng-change="search()"></select>
  </label>

  <label class="item item-input item-select" >
    <div class="input-label">
      Deposito
    </div>
        <select ng-options="item as item.label for item in $parent.warehouses " ng-model="$parent.selectedWarehouse" ng-change="search()"></select>
  </label>

  <ion-checkbox ng-model="$parent.hasStock" class="checkbox-assertive">con Stock</ion-checkbox>

</div>
        <button ng-click="search()" class="button button-assertive  ion-search"> {{ product_count }} </button>
         <button ng-click="scanBarcode()" class="button button-assertive ion-qr-scanner"></button>

  

</form>


        <div ng-show="$parent.loading">Buscando  {{ textSearch }} </div>

        <div class="row"  ng-show="!$parent.loading" ng-repeat="item in productList" ui-sref="productDetail({id: item.id})">
           
          <div class="col col-70">({{ item.default_code }}) <strong>{{ item.name }}</strong><br/>
            stock: {{ item.qty_available }}</div>
          <div align="right"  class="col col-30">{{ item.price_with_tax | currency }}</div>

        </div>


    </ion-content>
</ion-view>


